<div class="chat">
  <div class="chat-header">
    <h5 i18n="@@CHAT.CHAT_TITLE">Chat</h5>
  </div>
  <div class="chat-messages">
    <div *ngFor="let line of chatHistory.split('\n')">
      <div [innerHTML]="line"></div>
    </div>
  </div>
  <div class="chat-input">
    <input
      [(ngModel)]="messageInput"
      i18n-placeholder="@@CHAT.PLACEHOLDER"
      placeholder="Write a message..."
      (keydown)="onKeyDown($event)"
    />
    <button (click)="sendMessage()">➥</button>
  </div>
</div>
