<div class="card p-4 mx-auto mt-5 mb-5" style="max-width:360px">
  <h4 class="mb-3">{{ 'JOIN.JOIN_GAME' | translate }}</h4>

  <!-- Error messages -->
  <div *ngIf="showError" class="alert alert-danger mb-3 position-relative">
    <button class="btn btn-secondary btn-sm position-absolute top-0 end-0 m-2" (click)="closeError()">
      ✖
    </button>
    <div class="p-2 m-3">
      <div [ngSwitch]="errorCode">
        <p *ngSwitchCase="'GAME_NOT_FOUND'">
          {{ 'ERRORS.GAME_NOT_FOUND' | translate }}
        </p>
        <p *ngSwitchCase="'GAME_FULL'">
          {{ 'ERRORS.GAME_FULL' | translate }}
        </p>
        <p *ngSwitchCase="'SELF_PLAY'">
          {{ 'ERRORS.SELF_PLAY_NOT_ALLOWED' | translate }}
        </p>
        <p *ngSwitchCase="'SERVER_ERROR'">
          {{ 'ERRORS.SERVER_ERROR' | translate }}
        </p>
        <p *ngSwitchCase="'JOIN_FAILED'">
          {{ 'ERRORS.JOIN_FAILED' | translate }}
        </p>
        <p *ngSwitchDefault>
          {{ 'ERRORS.UNKNOWN_ERROR' | translate }}
        </p>
      </div>
      <div class="mt-2">
        <button *ngIf="errorCode === 'SELF_PLAY'" class="btn btn-primary btn-sm" (click)="goToLocalMode()">
          {{ 'ERRORS.GO_TO_LOCAL_MODE' | translate }}
        </button>
        <button *ngIf="errorCode === 'GAME_FULL'" class="btn btn-primary btn-sm" (click)="goToNewGame()">
          {{ 'ERRORS.CREATE_NEW_GAME' | translate }}
        </button>
      </div>
    </div>
  </div>

  <!-- 1) Choose nickname -->
  <form *ngIf="step===1" #nickForm="ngForm" (ngSubmit)="onNickname()">
    <div class="mb-3">
        <label class="form-label">{{ 'JOIN.NICKNAME' | translate }}</label>
        <input name="nick" class="form-control"
            required minlength="3"
            [(ngModel)]="nickname" #nick="ngModel"
        />

        <div *ngIf="nick.invalid && nick.touched" class="text-danger">
          {{ nick.errors?.['required'] ? "{{ 'JOIN.REQUIRED' | translate }}" : "" }}
          {{ nick.errors?.['minlength'] ? "{{ 'JOIN.MIN_LENGTH' | translate }}" : "" }}
        </div>
    </div>
    <button class="btn btn-primary" [disabled]="nickForm.invalid">
      {{ 'JOIN.NEXT' | translate }}
    </button>
  </form>

  <!-- 2) Confirm Game ID and join -->
  <form *ngIf="step===2" #joinForm="ngForm" (ngSubmit)="onJoin()">
    <div class="mb-3">
      <label class="form-label">{{ 'JOIN.GAME_ID' | translate }}</label>
      <input name="gameId" class="form-control"
             [value]="gameId" readonly>
    </div>
    <button class="btn btn-success">
      {{ 'JOIN.JOIN_AS' | translate }} {{ nickname }}
    </button>
  </form>
</div>