@import './styles/themes.css';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    flex-grow: 1;
}

.form-control {
  background-color: var(--input-bg);
  border-color: var(--input-border);
  color: var(--input-text);
}

.dark-theme .form-control::placeholder {
  color: var(--input-text);
}

.dark-theme .form-control:focus {
  background-color: var(--input-bg);
  color: var(--input-text);
}

.alert {
  margin-bottom: 0;
}